$bg-color : rgb(44, 43, 53);

html, body{
    height: 100%;
}

.container-fluid{
    background: $bg-color;
    min-height: 100%;
    color: #fff;
}

/***************************************************


                MENU


*****************************************************/
.nav-container{
    display: flex;
    width: 100vw;
    padding: 10px;
    justify-content: space-between;

    .menu-burger{
        cursor: pointer;
        padding: 5px 10px;
        width: 50px;
        background: transparent;
        border: 1px #fff solid;
        border-radius: 5px;
        transition: transform 0.5s;
        transition: opacity 0.5s;

        &:hover{
            transform: scale(1.1);
            opacity: 0.8;
        }
    
        .menu-burger-stripe{
            width: 100%;
            height: 2px;
            background: #fff;
            margin: 5px 0;

            &.cross-top{
                margin: 5px 0 0 !important;
                position: relative;
                top: 1px;
            }
            &.cross-bottom{
                margin: 0 0 5px !important;
                position: relative;
                bottom: 1px;
                
            }
        }
    }

    .menu-container{
        position: absolute;
        z-index: 100;
        top: 75px;
        left: 0;
        background: $bg-color;
        width: 100vw;
        padding: 25px;
        min-height: 100vh;
        overflow: hidden;

        .menu-section{
            direction: flex;
            flex-direction: column;
            background: $bg-color;

            .menu-section-header{
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;

                i{
                    margin-left: 20px;
                    font-size: 1.8em;
                }

                h2{
                    display: inline;
                }
                .menu-section-stripe{
                    position: absolute;
                    right: 50px;
                    width: 70vw;
                    height: 2px;
                    display: block;
                    background: #fff;
                }
            }

            .menu-section-item{
                cursor: pointer;
                text-align: center;
                font-size: 2em;
                transition: opacity 0.5s;
                transition: transform 0.5s;

                &:hover{
                    opacity: 0.7;
                    transform: scale(1.1);
                }
                
                .menu-section-icon{
                    font-size: 2.5em;
                }
            }
        }
    }
}


/***************************************************


            SEARCH BAR


**************************************************/
.search-group{
    /*margin: 20px 0;*/
    padding: 0;
    position: relative;
    border: 1px  #fff solid;
    border-radius: 40px;
    width: 100%;

    .search-input{
        width: 100%;
        height: 55px;
        border: none;
        background: transparent;
        padding: 0 40px;
        color: #fff;
    }

    .search-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 20px;
        border: 1px #fff solid;
        border-radius: 40px;
        cursor: pointer;

        &:hover i{
            opacity: 0.7;
            transform: scale(1.5);
        }

        i{
            transition: opacity 0.5s;
            transition: transform 0.5s;
        }
    }
}




/**********************************************


            CARD


***********************************************/
.card-short-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 10px 5px;
    border-bottom: 1px #fff solid;
    margin-bottom: 10px;

    .card-short-title{
        font-size: 1.5em;
    }

    .card-short-contact{
        margin-top: 50px;
    }

    .card-short-action{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        
    }
}

/*******************************************


        UTILITY


******************************************/
.btn-action{
    margin-right: 10px;
    padding: 15px 20px;
    border: 1px #fff solid;
    border-radius: 100px;
    height: auto;
    width: auto;
    cursor: pointer;


    & > * {
        transition: opacity 0.5s;
        transition: transform 0.5s;
    }

    &:hover > * {
        opacity: 0.7;
        transform: scale(1.5);
    }
}

.btn-add{
    color: #fff;

}









/***************************************************


        FORMULAIRE


*****************************************************/
.btn-delete-dyn-form {
    position: absolute;
    right: -30px;
    top: 0;
    border: 1px #fff solid;
    border-radius: 20px;
    padding: 5px 10px;
}

input.form-control,
select.form-control,
input.form-control:focus,
select.form-control:focus,
input.form-control::placeholder,
select.form-control::placeholder
{
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline:  none;
    color: white;
}
select.form-control option{
    color: #000;
}